{deps, [
    {srly, "0.6.5"}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/msantos/cm17a"}
]}.

{hex, [{doc, ex_doc}]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

{erl_opts, [
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    %warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {xref_checks, [undefined_function_calls]}
    ]}
]}.
