{deps, [
    {srly, ".*", {git, "https://github.com/msantos/srly.git", {branch, "master"}}}
    ]}.

{plugins, [rebar_alias]}.

{alias, [
    {lint, [eunit]},
    {check, [dialyzer, eunit]}
    ]}.

{post_hooks, [
    {eunit, "elvis rock"}
    ]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.
